/.idea/
/signoff/
/precheck_results/
/caravel/
/dependencies/
/maglef/
/mgmt_core_wrapper/
mag/extract_user_project_wrapper.tcl
mag/mag2gds_caravel.tcl
/spef/
/spi/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
*.gds
*.swp
*.swo
*.spice
*.def
*.lef
*.mag
*.swm
*.csv
*.ini
*.sh
*.ext
*.log
*.hier*
*.vvp*
